<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <!-- テキストのバインディング -->
    <p>{{message}}</p>
    <p>{{count}}</p>
    <!-- ループ -->
    <ol>
      <li v-for="item in list">{{item}}</li>
    </ol>
    <!-- イベントの利用 -->
    <button v-on:click="handleClick">click</button>
    <!-- フォームの入力と同期 -->
    <input v-model="message">
    <input v-model.number="count">
    <!-- 条件分岐 -->
    <transition name="v">
      <p v-if="show">Hello Vue.js!</p>
    </transition>
    <button v-on:click="toggle">Hide message</button>
    <!-- トランジション&アニメーション -->
    <!-- 以下のようにダイレクトにコード記述できる -->
    <button v-on:click="show = !show"></button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>